body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #4e0202;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    color: #f0e68c;
}

p {
    color: #ffffff;
    font-size: 18px;
}

article {
    font-size: 16px;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    background-color: rgb(143, 117, 0);
}

section {
    color: white;
}

.footercax {
    margin-top: 40px;
    font-size: 14px;
    color: #d3d3d3;
    padding: 10px;
}